/* Color Palette Neutral Earth Tones */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0px;
	padding: 0px;
	min-width: 750px;
	height: 100vh;
}

.entirePage {
	padding: 15px;
	min-height: 96%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: #22333b;
}

.pageHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	color: rgb(255, 255, 255);
}

.navMenu {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #eae0d5;
	border-radius: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.mainSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 750px;
	background-color: #eae0d5;
	border-radius: 8px;
}

#sectionHeader {
	padding: 8px;
}

.footer {
	position: fixed;
	background-color: darkgray;
	width: 100%;
	bottom: 0px;
}

#cardsContainer {
	display: grid;
	justify-content: center;
	gap: 15px;
	width: 100%;
}

@media (min-width: 620px) {
	#cardsContainer {
		grid-template-columns: repeat(2, auto);
	}
}

@media (min-width: 750px) {
	#cardsContainer {
		grid-template-columns: repeat(3, auto);
	}
}

@media (min-width: 990px) {
	#cardsContainer {
		grid-template-columns: repeat(4, auto);
	}
}

@media (min-width: 1250px) {
	#cardsContainer {
		grid-template-columns: repeat(5, auto);
	}
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
	padding: 15px;
	width: 200px;
	height: 300px;
	background-color: whitesmoke;
	border: 1px solid rgb(214, 214, 214);
	border-radius: 8px;
	box-shadow: 0px 0px 5px 1px rgba(136, 136, 136, 0.19);
}

.card.startUpAnimation {
	animation: cards 0.5s ease forwards;
}

@keyframes cards {
	from {
		opacity: 0;
		transform: translate(0, -5%);
	}
	to {
		opacity: 1;
		transform: translate(0, 0%);
	}
}

.card:hover {
	background-color: #d8c6b2;
	animation: cardHover 0.2s ease forwards;
}

@keyframes cardHover {
	from {
		transform: scale(100%, 100%);
	}
	to {
		transform: scale(105%, 105%);
	}
}

.card.unHover {
	background-color: whitesmoke;
	animation: unHover 0.2s ease forwards;
}

@keyframes unHover {
	from {
		transform: scale(105%, 105%);
	}
	to {
		transform: scale(100%, 100%);
	}
}

.card:active {
	background-color: #c6ac8f;
}

#titleSection {
	flex: 1;
	width: 100%;
}

#authorSection {
	flex: 1;
	width: 100%;
}

#quantitySection {
	flex: 1;
	width: 100%;
}

#imageSection {
	flex: 3;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-bottom: 10px;
	border-radius: 6px;
	width: 100%;
	height: 250px;
}

#bookImage {
	height: 100%;
}

#popUpContainer {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.297);
	backdrop-filter: blur(2px);
}

#popUpCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
	padding: 15px;
	width: 500px;
	height: 665px;
	background-color: whitesmoke;
	border: 1px solid rgb(214, 214, 214);
	border-radius: 8px;
	box-shadow: 0px 0px 5px 1px rgba(136, 136, 136, 0.19);
	animation: popUpCard 0.2s ease forwards;
}

@keyframes popUpCard {
	from {
		opacity: 0;
		transform: scale(0%);
	}
	to {
		opacity: 1;
		transform: scale(100%);
	}
}

#imageSectionPopUp {
	flex: 3;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-bottom: 10px;
	border-radius: 6px;
	width: 100%;
	height: 500px;
}

#buttonContainer {
	width: 100%;
	display: flex;
	justify-content: end;
}

#closeButton {
	border: none;
	background-color: whitesmoke;
}

#closeButton:active {
	background-color: gainsboro;
}

#closeButton img {
	width: 15px;
}

#cardSubSection {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 50px;
}

#infoSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
}

#buttons {
	display: flex;
	justify-content: center;
	gap: 8px;
	flex-direction: column;
}

#buttons button {
	width: 150px;
	height: 40px;

	background-color: #eae0d5;
	border: 0px solid;
	border-radius: 5px;
}

#buttons button:hover {
	background-color: #d8c6b2;
	border-radius: 5px;
}

#buttons button:active {
	background-color: #c6ac8f;
	border-radius: 5px;
}
